@keyframes myaboutPersonality {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes myaboutDescription {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

.aboutContainer {
    background-color: #000;
    color: beige;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3rem 0rem;
    margin: 0 auto;
}

.aboutDescription {
    color: beige;
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    text-align: start;
    font-size: 1.5rem;
    line-height: normal !important;
    animation: myaboutDescription 1s ease-in-out;
}

.amoutme {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-decoration: underline;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.aboutPersonality {
    width: 30rem;
    height: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5rem;
    animation: myaboutPersonality 1s ease-in-out;
}

.imgpersonality {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.btnaboutContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 8%;
    margin-top: 0rem;
    position: fixed;
    z-index: 5;
    bottom: 3rem;
    right: 1rem;
    padding: 0rem;
}

.linethrough {
    border: 0.3rem solid #fff;
    height: 60vh;
}

.listtechContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.2rem;
}

.litstech {
    list-style-type: square;
}

.aboutIcon {
    padding: 1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    font-size: 1rem;
    cursor: pointer;
}

.aboutIcon a {
    text-decoration: none !important;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cvlink {
    color: beige;
    text-align: left;
    width: 100%;
    margin-top: 2rem;
}

.ppp {
    margin: 1rem 0rem;
}

.amoutmesmallscreen {
    display: none;
}

@media screen and (max-width: 600px) {
    .aboutContainer {
        background-color: #000;
        color: beige;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 3rem 0rem;
        margin: 0rem auto 15rem auto;
    }

    .aboutDescription {
        color: beige;
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        text-align: start;
        font-size: 1.2rem;
        line-height: normal !important;
        animation: myaboutDescription 1s ease-in-out;
    }

    .amoutme {
        font-size: 5rem;
        font-weight: 600;
        margin-bottom: 2rem;
        text-decoration: underline;
        width: 100%;
        display: none !important;
        justify-content: flex-start;
        align-items: baseline;
    }

    .linethrough {
        border: 0.3rem solid #fff;
        height: 60vh;
        display: none;
    }

    .btnaboutContainer {
        display: none !important;
        justify-content: space-around;
        align-items: center;
        width: 15%;
        height: 8%;
        margin-top: 0rem;
        position: fixed;
        z-index: 5;
        bottom: 3rem;
        right: 1rem;
        padding: 0rem;
    }

    .amoutmesmallscreen {
        display: block;
    }
}