.contactContainer {
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

.contacthead {
    color: #000;
    font-size: 3.5rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;

}
  
  .hold-form {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 3rem;
  }

  .formFlexContext {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 30%;
  }

  .form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 70%; */
  }

  .fotext {
    letter-spacing: 0.1rem;
    text-align: center;
    color: black;
    font-size: 3.5rem;
  }
  
  .fmlist {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 3rem;
  }
  
  input {
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    padding: 0.4rem 0.2rem;
    text-align: left;
    color: #727170;
    width: 100%;
  }
  
  textarea {
    background: #fbf8f7;
    padding: 10px;
    width: 30rem;
    height: 10rem;
  }
  
  .fbutton {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .fbtnn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 131px;
    height: 48px;
    background: #000;
    color: beige;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    outline: none;
    transition: 3s;
    cursor: pointer;
  }
  
  .fbtnn:hover {
    color: #000;
    background: beige;
    border: 1px solid beige;
  }

  @media only screen and (max-width: 768px) {
    .contactContainer {
      background-color: #fff;
      padding: 1rem 0;
  }
  
  .contacthead {
      color: #000;
      font-size: 2rem;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
  }
    
    .hold-form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
    }
    
    .context {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .form-card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .fotext {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2rem;
      letter-spacing: 0.2rem;
      text-align: center;
      color: black;
    }
    
    .fmlist {
      display: flex;
      flex-direction: column;
      list-style-type: none;
    }
    
    input {
      border-top: none;
      border-right: none;
      border-left: none;
      font-family: 'Inter', sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      padding: 0.4rem 0.2rem;
      text-align: left;
      color: #727170;
      width: 20rem;
    }
    
    textarea {
      background: #fbf8f7;
      padding: 10px;
      width: 20rem;
      height: 10rem;
    }
    
    .fbutton {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .fbtnn {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 12px;
      width: 131px;
      height: 48px;
      background: #000;
      color: beige;
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      border: none;
      outline: none;
      transition: 3s;
      cursor: pointer;
    }
    
    .fbtnn:hover {
      color: #000;
      background: beige;
      border: 1px solid beige;
    }

    .formFlexContext {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
  
  }
  